<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="СП1.Properties.Settings.warehouseConnectionString"
            connectionString="Host=localhost;Username=postgres;Password=12345678;Persist Security Info=True;Database=warehouse"
            providerName="Npgsql" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
</configuration>